<app-brand-navbar></app-brand-navbar>
<div class="wrapper" [ngBusy]="{busy: busy, message: 'Retreving data ...', backdrop: true, delay: 200, minDuration: 600}">
    <div class="col-md-4 header">Budget Left</div>
    <div class="col-md-4 ">
        <div class="header"> In Progress</div>
        <div *ngFor=" let campaignDetail of campaignDetails;">
            <div *ngIf="campaignDetail.status == 'Approval'">
                <ul>
                    <li [hidden]=true> {{campaignDetail.chimerListingId}} </li>
                    <li> {{campaignDetail.name}}</li>
                    <a [href]="campaignDetail.url">{{campaignDetail.url}}</a>
                    <li> {{campaignDetail.lastUpdated}}</li>
                    <button (click)="onApprove(campaignDetail)"> Approve </button>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="header"> Completed</div>
        <div *ngFor=" let campaignDetail of campaignDetails;">
            <div *ngIf="campaignDetail.status == 'Completed'">
                <ul>
                    <li [hidden]=true> {{campaignDetail.chimerListingId}} </li>
                    <li> {{campaignDetail.name}}</li>
                    <a [href]="campaignDetail.url">{{campaignDetail.url}}</a>
                    <li> {{campaignDetail.lastUpdated}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>