.header{
        display: block;
    background: #f9f9f9;
       box-shadow: 2px 3px 17.5px #999;
    text-align: center;
    line-height: 30px;
    font-size: 1.3em;
    margin: auto;
   
}
.wrapper{
    margin: auto;
    display: block;
}