<app-chimer-navbar [id]='chimerId'></app-chimer-navbar>
<h2 class="text-center"> Chime instructions for chimers </h2>
<p>Hello and congratulations on becoming a Chimer! Here at Chime, we believe that in order to build a good relationship between the brands and you, we first need to ensure that you know the basics of becoming a chimer. And therefore we have come up with
    some simple steps for you to refer to, which we hope would make your experience with Chime a whole lot better. <br> 1. Once you see a Job listing from a brand that interest you, simply sign up for the job and it will then appear on your ‘current jobs
    tab.
    <br> 2. Remember to check the job description for the requirements the brands are looking for. However, you have creative control over the content you post so long as you follow the requirements.<br> 3. So feel free to post pictures however you like,
    as long as it’s before 5 days after you’ve applied for the job. <br> 4.Once you have applied for the job, do drop by their location, show them the job listing on your chime app and enjoy your perks. <br> 5.If you like the service, then chime it, take
    a picture and post it. If you don’t, let the brand know at the location and you won’t need to post. 6.Once you post the photo on instagram, share the Instagram link on the Chime app and congrats, you have finished a job just like that!
</p>
<div class="div-list" *ngFor=" let listing of results;">
    <div class="div-left">
        <img class="dp-list" src="../../../assets/Images/tqk.jpg">
        <label [hidden]=true> {{listing._id}} </label>
    </div>
    <div class="div-right read-more-wrap">
        <label>Brand Name: The Quay Kitchen</label>
        <label>Perks: <br />{{listing.perks}}</label>
        <label>Requirements: <br />{{listing.requirements}}</label>
        <input type="checkbox" class="read-more-state" id="post-1" />
        <label class="read-more-target"> Description: <br />{{listing.description}}</label>
        <label [hidden]=true>Budget: {{listing.budget}}</label>
        <label for="post-1" class="read-more-trigger"></label>
        <button class="button-list" (click)="onListing(listing)"> Apply Listing</button>
    </div>
</div>