<form [ngBusy]="{busy: busy, message: 'Payment In Progress ...', backdrop: true, delay: 200, minDuration: 600}">
  <div class="form-row">
    <label class="form-amount">Amount to Pay</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <label for="" class="form-control currency" id="amount">10</label>
    </div>
  </div>
  <div id="dropin-container"></div>
  <button type="button" class="btn btn-primary" (click)="onPayment()" value="Submit" [disabled]="isPaid">Make Payment</button>
</form>
