<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="login">
    <img src="../../../assets/Images/chimemaybe-black.png" alt="">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" [ngBusy]="{busy: busy, message: 'Logging in ...', backdrop: true, delay: 200, minDuration: 600}">
      <div class="form-group">
        <input class="form-control" type="text" name="u" placeholder="Email" required="required" formControlName="email" />
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="p" placeholder="Password" required="required" formControlName="password"
        />
      </div>
      <div class="form-group text-center">
        <label class="control control--radio">
                <input type="radio" name="user" formControlName="user" [checked]=true value="chimer"/>Chimer
                <div class="control__indicator"></div>
                </label>
        <label class="control control--radio">
                <input type="radio" name="user" formControlName="user" value="brand"/>Brand
                <div class="control__indicator"></div>
                </label>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</body>

</html>
