<app-brand-navbar></app-brand-navbar>
<div class="div-list" *ngFor=" let listing of listings;" [ngBusy]="{busy: busy, message: 'Retreving data ...', backdrop: true, delay: 200, minDuration: 600}">
  <div class="div-left">
    <img class="dp-list" src="../../assets/Images/tqk.jpg">
    <label [hidden]=true> {{listing._id}} </label>
  </div>

  <div class="div-right">
    <label>Campaign Name:<span class="color" *ngIf="!editing"> The Quay Kitchen</span><input [style.display]="!editing? 'none' : 'inherit'" value="The Quay kitchen" ></label>
    

    <label>Perks: <br /><span class="color"  *ngIf="!editing">{{listing.perks}}</span> <input [style.display]="!editing? 'none' : 'inherit'" value={{listing.perks}} #perk ></label>
   



    <label>Requirements: <br />
    <span class="color"  *ngIf="!editing">{{listing.requirements}}</span>
    <input [style.display]="!editing? 'none' : 'inherit'" value={{listing.requirements}} #require></label>
    
    <label> Description: <br /><span class="color"  *ngIf="!editing">{{listing.description}}</span> <input [style.display]="!editing? 'none' : 'inherit'" value={{listing.description}} #desc></label>
   
    
    <label>Budget: <span class="color">{{listing.budget}}</span></label>
   
    
  </div>
    <div class="status">
    <button (click)="onPayment()"> Unverified job
    </button>
    <br>
    <button (click)="onListing(listing)"> View job
    </button><br>
 
     <button *ngIf="!editing" (click)="toggleEdit()"> Edit job </button>
    
     <button *ngIf="editing" (click)="editJob(perk.value, require.value, desc.value)"> Submit
    </button>
 

  </div>
</div>
